@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
	--clr-light: aqua;
	--clr-black: rgb(0,0,0);
	--clr-white: rgb(250,250,250);
	--clr-clr1: linear-gradient(to left, aliceblue, rgb(95, 95, 250));
	--clr-clr2: #f6f6f6ab;
	--clr-clr3: #d5d5d582;
	--clr-clr4: #726db4;
	--clr-clr5: rgba(2, 2, 2, 0.753);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Abel", sans-serif;
}

body {
	padding: 5px;
	background: var(--clr-clr1);
}

.container {
    display: grid;
    grid-template-columns: 1.3fr 2fr 2fr 2fr 3fr;
    grid-template-rows: 0.6fr 1fr 1fr 2fr 0.4fr;
    grid-template-areas: 
        "company-logo header header header header"
        "sidebar content-panel-1 content-panel-2 content-panel-3 content-panel-7"
        "sidebar content-panel-4 content-panel-5 content-panel-6 content-panel-7"
        "sidebar main main main content-panel-8"
        "footer footer footer footer footer";
    gap: 0.2rem;
    height: 100vh;
    padding: 0.2rem;}

.company-logo {
	grid-area: company-logo;
	background-color: var(--clr-clr1);
	border-radius: 5px;
	padding: 15px;
}

.company-logo h3 {
	font-size: 18px;
}

.heading {
	display: flex;
	flex-direction: column;
	grid-area: header;
	background-color: var(--clr-clr1);
	border-radius: 5px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.heading h1 {
	text-align: center;
}

.heading h4 {
	font-weight: 550;
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--clr-clr1);
	border-radius: 5px;
	padding: 0 5px 5px 5px;
}

.nav-items {
	display: inline-flex;
	right: auto;
	border: 5px solid var(--clr-clr1);
	background-color: var(--clr-clr3);
	height: 55px;
	min-width: 157px;
	width: 100%;
	border-radius: 12px 12px 12px 12px;
	margin: 2% 0 2% 0;
	align-items: center;
}

.nav-items:first-child {
	margin-top: 0;
}

.nav-items a {
	outline: none;
	text-decoration: none;
	color: var(--clr-black);
	align-items: center;
	align-content: center;
	display: inline-flex;
	cursor: pointer;
}

.nav-items:hover {
      background-color: var(--clr-clr5);
}

.nav-items:hover i,
.nav-items:hover span {
	color: var(--clr-white);
}

.nav-items i {
	margin-left: 5px;
	font-size: 30px;
	height: 30px;
	width: 35px;
	padding-right: 1.5rem;
}

.nav-items span {
	padding-left: 5%;
	font-size: 18px;
	font-weight: 600;
}

.content-panel-1 {
	grid-area: content-panel-1;
	background-color: var(--clr-light);
	border-radius: 5px;
}

.content-panel-2 {
	grid-area: content-panel-2;
	background-color: var(--clr-light);
	border-radius: 5px;
}

.content-panel-3 {
	grid-area: content-panel-3;
	background-color: var(--clr-light);
	border-radius: 5px;
}

.content-panel-4 {
	grid-area: content-panel-4;
	background-color: var(--clr-light);
	border-radius: 5px;
}

.content-panel-5 {
	grid-area: content-panel-5;
	background-color: var(--clr-light);
	border-radius: 5px;
}

.content-panel-6 {
	grid-area: content-panel-6;
	background-color: var(--clr-light);
	border-radius: 5px;
}

.content-panel-7 {
	grid-area: content-panel-7;
	background-color: var(--clr-light);
	border-radius: 5px;
}

.content-panel-8 {
	grid-area: content-panel-8;
	background-color: var(--clr-light);
	border-radius: 5px;
}

.content-panel-1,
.content-panel-2,
.content-panel-3,
.content-panel-4,
.content-panel-5,
.content-panel-6 {
	display: flex;
	border-radius: 10px;
	background-color: var(--clr-clr2);
}

.content-panel-left {
	width: 60%;
	height: 100%;
	padding: 5px;
}

.content-panel-left h3 {
	margin: 10px 10px 10px 20px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-weight: 700;
	border: solid 5px black;
	align-content: center;
	text-align: center;
}

.content-panel-1 i,
.content-panel-2 i,
.content-panel-3 i,
.content-panel-4 i,
.content-panel-5 i,
.content-panel-6 i {
	font-size: 60px;
	width: 40%;
	height: 100%;
	align-items: center;
	align-content: center;
	padding: 5px;
}

.content-panel-7,
.content-panel-8 {
	background-color: var(--clr-clr2);
}

.content-panel-7 img,
.content-panel-8 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or use "contain" based on your requirement */
    display: block; /* removes the bottom gap if the image is an inline element */
}


.main {
	grid-area: main;
	background-color: var(--clr-clr2);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px;
}

.notes {
	display: block;
}

.notes ul {
	list-style-position: inside;
}

.notes ul {
    /*padding-left: 20px; /* Add padding to indent the list items */
    margin: 0; /* Remove default margin */
    list-style-type: disc; /* Use a disc as the list item marker */
	font-size: 15px;
	margin: 0;
	line-height: 15px;
}

.notes ul ul {
    padding-left: 20px; /* Add padding to further indent nested list items */
    list-style-type: circle; /* Use a different marker for nested list items */
}

.notes li {
    margin-bottom: 10px; /* Add space between list items */
}


footer {
	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	grid-area: footer;
	width: 100%;
	width: 100%;
	background-color: var(--clr-clr1);
	border-radius: 5px;
}

footer ul {
	list-style-type: none;
	display: inline-flex;
}

footer ul li {
	padding: 10px;
}
