@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
	--clr-light: aqua;
	--clr-black: rgb(0,0,0);
	--clr-white: rgb(250, 250, 250);
	--clr-clr1: linear-gradient(to left, aliceblue, rgb(95, 95, 250));
	--clr-clr2: #f6f6f6ab;
	--clr-clr3: #d5d5d582;
	--clr-clr4: #726db4;
	--clr-clr5: rgba(2, 2, 2, 0.753);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Abel", sans-serif;
}

body {
	padding: 5px;
	background: var(--clr-clr1);
}

.container {
    display: grid;
    grid-template-columns: 1.3fr 2fr 2fr 2fr 3fr;
    grid-template-rows: 0.6fr 1fr 1fr 2fr 0.4fr;
    grid-template-areas: 
        "company-logo header header header userheader"
        "sidebar content-panel-1 content-panel-1 content-panel-1 content-panel-1"
        "sidebar content-panel-1 content-panel-1 content-panel-1 content-panel-1"
        "sidebar content-panel-1 content-panel-1 content-panel-1 content-panel-1"
        "footer footer footer footer footer";
    gap: 0.2rem;
    height: 100vh;
    padding: 0.2rem;}

.company-logo {
	grid-area: company-logo;
	background-color: var(--clr-clr1);
	border-radius: 5px;
	padding: 6px;
}

.company-logo h3 {
	font-size: 18px;
}

.user_header {
	grid-area: userheader;
	justify-content: flex-end;
	align-items: center;
	display: flex;
	padding: 0 20px;
}

.user_header a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	font-size: 23px;
	font-weight: 600;
}

.user_header i {
	padding: 0 20px;
}

.heading {
	display: flex;
	flex-direction: column;
	grid-area: header;
	background-color: var(--clr-clr1);
	border-radius: 5px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.heading h1 {
	text-align: center;
	font-size: 28px;
}

.heading h4 {
	font-weight: 550;
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--clr-clr1);
	border-radius: 5px;
	padding: 0 5px 5px 5px;
}

.nav-items {
	display: inline-flex;
	right: auto;
	border: 5px solid var(--clr-clr1);
	background-color: var(--clr-clr3);
	height: 55px;
	min-width: 157px;
	width: 100%;
	border-radius: 12px 12px 12px 12px;
	margin: 2% 0 2% 0;
	align-items: center;
}

.nav-items:first-child {
	margin-top: 0;
}

.nav-items a {
	outline: none;
	text-decoration: none;
	color: var(--clr-black);
	align-items: center;
	align-content: center;
	display: inline-flex;
	cursor: pointer;
}

.nav-items:hover {
      background-color: var(--clr-clr5);
}

.nav-items:hover i,
.nav-items:hover span {
	color: var(--clr-white);
}

.nav-items i {
	margin-left: 5px;
	font-size: 30px;
	height: 30px;
	width: 35px;
	padding-right: 1.5rem;
}

.nav-items span {
	padding-left: 5%;
	font-size: 18px;
	font-weight: 600;
}

.content-panel-1 {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: var(--clr-clr2);
	grid-area: content-panel-1;
	border-radius: 5px;
	padding: 5px;
}

.content-panel-left {
	width: 60%;
	height: 100%;
	padding: 5px;
}

.content-panel-left h3 {
	margin: 10px 10px 10px 20px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-weight: 700;
	border: solid 5px black;
	align-content: center;
	text-align: center;
}

.inv-heading-title {
	display: flex;
	padding-top: 0px;
}

.inv-heading-title h2 {
	width: 80%;
	float: left;
}

.inv-heading-title button {
	width: 20%;
	height: 35px;
	margin: 5px 10px 5px 10px;
	float: right;
	font-size: 18px;
	border-radius: 5px;
	background-color: var();
	border-color: transparent;
	background-color: var(--clr-clr4);
	color: var(--clr-white);
}

.inv-table {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: auto;
	scroll-behavior: smooth;
	white-space: nowrap;
}

#table-bordered {
	border-collapse: collapse;
}


th, td {
	text-align: left;
	border: solid 1px black;
	padding: 5px;
}

th {
	background-color: var(--clr-clr4);
	color: white;
}

th:nth-child(1) {
	min-width: 85px;
}
th:nth-child(2) {
	min-width: 85px;
}
th:nth-child(3) {
	min-width: 85px;
}
th:nth-child(4) {
	min-width: 300px;
}
th:nth-child(5) {
	min-width: 200px;
}
th:nth-child(6) {
	min-width: 85px;
}
th:nth-child(7) {
	min-width: 100px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

td:nth-child(1) a {
	text-decoration: none;
}

.fa-solid fa-trash-can {
	color: var(--clr-black);
	width: 50px;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.main {
	grid-area: main;
	background-color: var(--clr-clr2);
	border-radius: 5px;
}

footer {
	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	grid-area: footer;
	width: 100%;
	width: 100%;
	background-color: var(--clr-clr1);
	border-radius: 5px;
}

footer ul {
	list-style-type: none;
	display: inline-flex;
}

footer ul li {
	padding: 10px;
}
