@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
	--clr-light: aqua;
	--clr-black: rgb(0,0,0);
	--clr-white: rgb(250,250,250);
	--clr-clr1: linear-gradient(to left, aliceblue, rgb(95, 95, 250));
	--clr-clr2: #f6f6f6ab;
	--clr-clr3: #d5d5d582;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Abel", sans-serif;
}

body {
	padding: 5px;
	background: var(--clr-clr1);
}

.container {
    display: grid;
    grid-template-columns: 1.3fr 2fr 2fr 2fr 3fr;
    grid-template-rows: 0.6fr 1fr 1fr 2fr 0.4fr;
    grid-template-areas: 
        "company-logo header header header header"
        "sidebar content-panel-1 content-panel-1 content-panel-1 content-panel-1"
        "sidebar content-panel-1 content-panel-1 content-panel-1 content-panel-1"
        "sidebar content-panel-1 content-panel-1 content-panel-1 content-panel-1"
        "footer footer footer footer footer";
    gap: 0.2rem;
    height: 100vh;
    padding: 0.2rem;}

.company-logo {
	grid-area: company-logo;
	background-color: var(--clr-clr1);
	border-radius: 5px;
	padding: 15px;
}

.company-logo h3 {
	font-size: 18px;
}

.heading {
	display: flex;
	flex-direction: column;
	grid-area: header;
	background-color: var(--clr-clr1);
	border-radius: 5px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.heading h1 {
	text-align: center;
}

.heading h4 {
	font-weight: 550;
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--clr-clr1);
	border-radius: 5px;
	padding: 0 5px 5px 5px;
}

.nav-items {
	display: inline-flex;
	right: auto;
	border: 5px solid var(--clr-clr1);
	background-color: var(--clr-clr3);
	height: 55px;
	min-width: 157px;
	width: 100%;
	border-radius: 12px 12px 12px 12px;
	margin: 2% 0 2% 0;
	align-items: center;
}

.nav-items:first-child {
	margin-top: 0;
}

.nav-items i {
	margin-left: 5px;
	font-size: 30px;
	height: 30px;
	width: 35px;
	padding-right: 1.5rem;
}

.nav-items span {
	padding-left: 5%;
	font-size: 18px;
	font-weight: 600;
}



.content-panel-1 {
	grid-area: content-panel-1;
	background-color: var(--clr-light);
	border-radius: 5px;
}


.content-panel-1 {
	display: flex;
	border-radius: 10px;
	background-color: var(--clr-clr2);
}

.content-panel-left {
	width: 60%;
	height: 100%;
	padding: 5px;
}

.content-panel-left h3 {
	margin: 10px 10px 10px 20px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-weight: 700;
	border: solid 5px black;
	align-content: center;
	text-align: center;
}

.content-panel-1 i {
	font-size: 60px;
	width: 40%;
	height: 100%;
	align-items: center;
	align-content: center;
	padding: 5px;
}

.main {
	grid-area: main;
	background-color: var(--clr-clr2);
	border-radius: 5px;
}

footer {
	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	grid-area: footer;
	width: 100%;
	width: 100%;
	background-color: var(--clr-clr1);
	border-radius: 5px;
}

footer ul {
	list-style-type: none;
	display: inline-flex;
}

footer ul li {
	padding: 10px;
}
