<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../../../static/fontawesome/css/all.min.css">
    <link href="../../../static/css/investigations_details.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="company-logo" id="company-logo">
        <h3>Siphelele Makhathini</h3>
      </div>
      <header class="heading" id="heading">
        <h1>Quality Control Management System</h1>
        <h4>ISO 9001 / ISO 17025 </h4>
      </header>
      <div class="sidebar" id="sidebar">
        <nav class="nav-container" id="nav-container">
          <ul>
            <li class="nav-items"><a href="{{ url_for('dash_views.dashboard') }}"><i class="fa-solid fa-house-chimney"></i><span> Overview</span></a></li>
            <li class="nav-items"><a href="{{ url_for('dash_views.click_investiagtions') }}"><i class="fa-solid fa-graduation-cap"></i><span> Investigations</span></a></li>
            <li class="nav-items"><i class="fa-solid fa-clipboard-check"></i><span> Audits</span></li>
            <li class="nav-items"><i class="fa-solid fa-list-check"></i><span> Tasks</span></li>
            <li class="nav-items"><i class="fa-solid fa-award"></i><span> Complience</span></li>
            <li class="nav-items"><i class="fa-solid fa-calendar-days"></i><span> Schedule</span></li>
          </ul>
        </nav>
      </div>
      
      <div class="content-panel-1" id="content-panel-1">
        <form action="{{ url_for('inv_views.new_investigation') }}" id="investigation-form" method="post">
          <div class="inv-heading-title">
            <h2>Investigation</h2>
            <a href="/investigations">Go Back / Close</a>
            <button type="submit">SAVE</button>
          </div>
          <div class="form-container">
          <div class="form-group">
            <label for="id">ID.</label>
            <input type="text" name="id" value="{{ investigations.id }}" readonly>
          </div>
          <div class="form-group">
            <label for="ir_number">IR No.</label>
            <input type="text" name="ir_number" value="{{ investigations.ir_number }}" readonly>
          </div>
          <div class="form-group">
            <label for="raised_by">Raised By.</label>
            <input type="text" name="raised_by" value="{{ investigations.raised_by }}" required>
          </div>
          <div class="form-group">
            <label for="priority">Priority</label>
            <select id="priority" name="priority" required>
              <option value="low" {% if investigations.priority == 'Low' %}selected{% endif %}>Low</option>
              <option value="medium" {% if investigations.priority == 'Medium' %}selected{% endif %}>Medium</option>
              <option value="high" {% if investigations.priority == 'High' %}selected{% endif %}>High</option>
            </select>
          </div>
           <div class="form-group">
            <label for="status">Status</label>
             <select id="status" name="status" required>
              <option value="Registered" {% if investigations.status == 'Registered' %}selected{% endif %}>Registed</option>
              <option value="In Progress" {% if investigations.status == 'In Progress' %}selected{% endif %}>In Progress</option>
              <option value="Completed" {% if investigations.status == 'Completed' %}selected{% endif %}>Completed</option>
              <option value="Approved" {% if investigations.status == 'Approved' %}selected{% endif %}>Approved</option>
              <option value="Overdue" {% if investigations.status == 'Overdue' %}selected{% endif %}>Overdue</option>
            </select>
          </div>
          <div class="form-group">
            <label for="due_date">Due Date</label>
            <input type="datetime-local" name="due_date" value="{{ investigations.due_date }}" required>
          </div>
           <div class="form-group">
            <label for="ir_source">IR Source</label>
            <input type="" name="ir_source" value="{{ investigations.ir_source }}" required>
          </div>
       <div class="form-group" id="line_manager" >
            <label for="line_manager">Line Manager</label>
            <input type="text" name="line_manager" value="{{ investigations.line_manager }}" required>
          </div>
            <div class="form-group" id="description" >
            <label for="description">Description</label>
            <textarea type="text" name="description" required>{{ investigations.description }}</textarea>
          </div>
         <div class="form-group" id="root_cause_summary" >
            <label for="root_cause_summary">Root Cause Summary</label>
            <textarea type="text" name="root_cause_summary" required>{{ investigations.root_cause_summary }}</textarea>
          </div>
            <div class="form-group" id="team_leader" >
            <label for="team_leader">Team Leader</label>
            <input type="datetime" name="team_leader" value="{{ investigations.team_leader }}" required>
          </div>
          <div class="form-group" id="date_created_on" >
            <label for="date_created_on">Date Created</label>
            <input type="datetime-local" name="date_created_on" value="{{ investigations.date_created_on }}" readonly>
          </div>
         </div>
        </form>
      </div>

      <div class="content-panel-2">
        <div class="inv-heading-title">
          <h2>Root Causes Summary</h2>
        </div>
        <div class="summary-table-container">
          <table class="table-bordered" id="table-bordered">
            <thead>
              <tr>
                <th>No</th>
                <th>By Who</th>
                <th>Main Cause</th>
                <th>Status</th>
                <th>Due Date</th>
              </tr>
            </thead>
            <tbody>
              {% for detail in detailslist %}
              <tr>
                <td class="uuid4"><a class="uuid4" href="{{ url_for('inv_views.investigation_details_by_id', id=detail.id) }}"><i class="fa-solid fa-pen-to-square">{{ detail.id }}</i></a</td>
                <td>{{ detail.by_who }}</td>
                <td>{{ detail.main_causes }}</td>
                <td>{{ detail.status }}</td>
                <td>{{ detail.due_date | format_date('%Y-%m-%d') }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="content-panel-3">
        <form action="/investigation_detail/save" id="details-form" method="post">
          <div class="inv-heading-title">
            <h2>Investigation Main Cause Detail</h2>
            <button type="button" onclick="clearForm('details-form')" {% if details.investigation_id is none %}disabled{% endif %}>Add New</button>
            <button type="submit" {% if details.investigation_id is none %}disabled{% endif %}>SAVE</button>
          </div>
          <div class="form-group">
            <label for="id">ID.</label>
            <input type="text" name="id" value="{{ details.id }}" readonly>
          </div>
          <div class="form-group">
            <label for="date_created_on">Date Created</label>
            <input type="datetime-local" name="date_created_on" value="{{ details.date_created_on }}" readonly>
          </div>
          <div class="form-group">
            <label for="date_updated_on">Updated On</label>
            <input type="datetime-local" name="date_updated_on" value="{{ details.date_updated_on }}" readonly>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
             <select id="status" name="status" required>
              <option value="Registered" {% if details.status == 'Registered' %}selected{% endif %}>Registed</option>
              <option value="In Progress" {% if details.status == 'In Progress' %}selected{% endif %}>In Progress</option>
              <option value="Completed" {% if details.status == 'Completed' %}selected{% endif %}>Completed</option>
              <option value="Approved" {% if details.status == 'Approved' %}selected{% endif %}>Approved</option>
              <option value="Overdue" {% if details.status == 'Overdue' %}selected{% endif %}>Overdue</option>
            </select>
          </div>
          <div class="form-group">
            <label for="investigation_id">Investigation ID</label>
            <input type="text" name="investigation_id" value="{{ details.investigation_id }}" readonly>
          </div>
          <div class="form-group">
            <label for="main_causes">Main Cause</label>
            <input type="text" name="main_causes" value="{{ details.main_causes }}" required>
          </div>
          <div class="form-group">
            <label for="steps_required">Steps Required</label>
            <textarea type="text" name="steps_required" required>{{ details.steps_required }}</textarea>
          </div>
           <div class="form-group">
            <label for="due_date">Due Date</label>
            <input type="datetime-local" name="due_date" value="{{ details.due_date }}" required>
          </div>
         <div class="form-group">
            <label for="by_who">By Who</label>
            <input type="text" name="by_who" value="{{ details.by_who }}" required>
          </div>
        </form>
      </div>

      <div class="content-panel-4">
        <div class="inv-heading-title">
          <h2>Investigation Tasks</h2> 
          <button type="button" id="add-new-task-btn" onclick="location.href='{{ url_for('inv_views.add_investigation_task', id=investigations.id) }}'"  {% if investigations.id is none %}disabled{% endif %}>Add New</button>
        </div>
        <div class="summary-table-container">
          <table class="table-bordered" id="table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Ass. To</th>
                <th>Type</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for task in taskslist %}
              <tr>
                <td class="uuid4"><a class="uuid4" href="{{ url_for('tsk_views.task_by_id', id=task.id) }}"><i class="fa-solid fa-pen-to-square">{{ task.id }}</i></a></td>
                <td>{{ task.assign_to }}</td>
                <td>{{ task.task_type }}</td>
                <td>{{ task.due_date | format_date('%Y-%m-%d') }}</td>
                <td>{{ task.status }}</td>
                <td><a href="{{ url_for('inv_views.delete_task', id=task.id) }}"><i class="fa-solid fa-trash-can"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

      <footer>
        <ul>
          <li><p>All Rights Reserved</p><span></span></li>
          <li><p>Privacy Policy</p><span></span></li>
          <li><p>Terms of Service</p></li>
        </ul>
      </footer>

    </div>
    <script src="../../../static/js/investigations_details.js"></script>
  </body>
</html>
