<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../../../static/fontawesome/css/all.min.css">
    <link href="../../../static/css/investigations_tasks_details.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="company-logo" id="company-logo">
        <h3>Siphelele Makhathini</h3>
      </div>
      <header class="heading" id="heading">
        <h1>Quality Control Management System</h1>
        <h4>ISO 9001 / ISO 17025 </h4>
      </header>
      <div class="sidebar" id="sidebar">
        <nav class="nav-container" id="nav-container">
          <ul>
            <li class="nav-items"><i class="fa-solid fa-house-chimney"></i><span> Overview</span></li>
            <li class="nav-items"><i class="fa-solid fa-graduation-cap"></i><span> Investigations</span></li>
            <li class="nav-items"><i class="fa-solid fa-clipboard-check"></i><span> Audits</span></li>
            <li class="nav-items"><i class="fa-solid fa-list-check"></i><span> Tasks</span></li>
            <li class="nav-items"><i class="fa-solid fa-award"></i><span> Complience</span></li>
            <li class="nav-items"><i class="fa-solid fa-calendar-days"></i><span> Schedule</span></li>
          </ul>
        </nav>
      </div>
      
      <div class="content-panel-1" id="content-panel-1">
        <h1>List of Investigations</h1>
      </div>
      <footer>
        <ul>
          <li><p>All Rights Reserved</p><span></span></li>
          <li><p>Privacy Policy</p><span></span></li>
          <li><p>Terms of Service</p></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
