<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../../../static/fontawesome/css/all.min.css">
    <link href="../../../static/css/investigations.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="company-logo" id="company-logo">
        <h3>Siphelele Makhathini</h3>
      </div>
      <header class="heading" id="heading">
        <h1>Quality Control Management System</h1>
        <h4>ISO 9001 / ISO 17025 </h4>
      </header>
      <div class="sidebar" id="sidebar">
        <nav class="nav-container" id="nav-container">
          <ul>
            <li class="nav-items"><a href="{{ url_for('dash_views.dashboard') }}"><i class="fa-solid fa-house-chimney"></i><span> Overview</span></a></li>
            <li class="nav-items"><a href="{{ url_for('dash_views.click_investiagtions') }}"><i class="fa-solid fa-graduation-cap"></i><span> Investigations</span></a></li>
            <li class="nav-items"><a><i class="fa-solid fa-clipboard-check"></i><span> Audits</span></a></li>
            <li class="nav-items"><a><i class="fa-solid fa-list-check"></i><span> Tasks</span></li>
            <li class="nav-items"><a><i class="fa-solid fa-award"></i><span> Complience</span></a></li>
            <li class="nav-items"><a><i class="fa-solid fa-calendar-days"></i><span> Schedule</span></a></li>
          </ul>
        </nav>
      </div>
      
      <div class="content-panel-1" id="content-panel-1">
        <div class="inv-heading-title">
          <h2>Investigations</h2>
          <button id="open-new-button"> Open New </button>
        </div>

        <div class="inv-table">
          <table class="table table-boardered">
            <thead>
              <tr>
                <th>IR No.</th>
                <th>Date Opened</th>
                <th>Line Manager</th>
                <th>Description</th>
                <th>Summary of Root Causes</th>
                <th>Due State</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for investigation in investigations %}
              <tr>
                <td><a href="{{ url_for('inv_views.investigation_details', ir_number=investigation.ir_number) }}">{{ investigation.ir_number }}   <i class="fa-solid fa-pen-to-square"></i></a></td>
                <td>{{ investigation.date_created_on | format_date('%Y-%m-%d') }}</td>
                <td>{{ investigation.line_manager }}</td>
                <td>{{ investigation.description }}</td>
                <td>{{ investigation.root_cause_summary }}</td>
                <td>{{ investigation.due_date | format_date('%Y-%m-%d') }}</td>
                <td>{{ investigation.status }}</td>
                <td><a href="{{ url_for('inv_views.delete_investigation', ir_number=investigation.ir_number) }}"><i class="fa-solid fa-trash-can"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
      <footer>
        <ul>
          <li><p>All Rights Reserved</p><span></span></li>
          <li><p>Privacy Policy</p><span></span></li>
          <li><p>Terms of Service</p></li>
        </ul>
      </footer>
    </div>
    <script src="../../../static/js/investigations.js"></script>
  </body>
</html>
