<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../../static/fontawesome/css/all.min.css">
    <link href="../../static/css/dashboard.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="company-logo" id="company-logo">
        <h3>Siphelele Makhathini</h3>
      </div>
      <header class="heading" id="heading">
        <h1>Quality Control Management System</h1>
        <h4>ISO 9001 / ISO 17025 </h4>
      </header>
      <div class="sidebar" id="sidebar">
        <nav class="nav-container" id="nav-container">
          <ul>
            <li class="nav-items" id="overview"><a href="{{ url_for('dash_views.dashboard') }}"><i class="fa-solid fa-house-chimney"></i><span> Overview</span></a></li>
            <li class="nav-items" id="investigations"><a href="{{ url_for('dash_views.click_investiagtions') }}"><i class="fa-solid fa-graduation-cap"></i><span> Investigations</span></a></li>
            <li class="nav-items"><a><i class="fa-solid fa-clipboard-check"></i><span> Audits</span></a></li>
            <li class="nav-items"><a><i class="fa-solid fa-list-check"></i><span> Tasks</span></a></li>
            <li class="nav-items"><a><i class="fa-solid fa-award"></i><span> Complience</span></a></li>
            <li class="nav-items"><a><i class="fa-solid fa-calendar-days"></i><span> Schedule</span></a></li>
          </ul>
        </nav>
      </div>
      
      <div class="content-panel-1" id="content-panel-1">
        <div class="content-panel-left">
          <h2>Management</h2>
          <p>Findings</p>
          <h3>21</h3>
        </div>
        <i class="fa-solid fa-building"></i>
      </div>
      
      <div class="content-panel-2" id="content-panel-2">
        <div class="content-panel-left">
          <h2>People</h2>
           <p>Findings</p>
          <h3>34</h3>
        </div>
        <i class="fa-solid fa-people-group"></i>
      </div>
      
      <div class="content-panel-3" id="content-panel-3">
        <div class="content-panel-left">
          <h2>Systems</h2>
          <p>Findings</p>
          <h3>17</h3>
        </div>
        <i class="fa-solid fa-gears"></i>
      </div>
      
      <div class="content-panel-4" id="content-panel-4">
        <div class="content-panel-left">
          <h2>Equiptment</h2>
          <p>Findings</p>
          <h3>56</h3>
        </div>
        <i class="fa-solid fa-screwdriver-wrench"></i>
      </div>
      
      <div class="content-panel-5" id="content-panel-5">
        <div class="content-panel-left">
          <h2>Materials</h2>
          <p>Findings</p>
          <h3>41</h3>
        </div>
        <i class="fa-solid fa-flask-vial"></i>
      </div>
      
      <div class="content-panel-6" id="content-panel-6">
        <div class="content-panel-left">
          <h2>Enviroment</h2>
          <p>Findings</p>
          <h3>7</h3>
        </div>
        <i class="fa-solid fa-sun-plant-wilt"></i>
      </div>
      
      <div class="content-panel-7" id="content-panel-7">
        <img src="../../static/img/qms.png" alt="">
      </div>
      <div class="content-panel-8" id="content-panel-8">
        <img src="../../static/img/kpi.png" alt=""> 
      </div>
      <main class="main" id="main">
        <h2>About this App</h2>
        <div class="notes">
          <ul>
            <li>Quality Managemnet System App is designed to ensure that an organisation meets and maintains their quality standard requirements, both internal and those by regulatory bodies. The App insures that a organisation can seamlisly manage its complience requirements as set forth by ISO 9001 and ISO 17025 Management System requirements</li>
            <li>This application facilitates communication between personal and removes the need for paper trails. Tracability is now fully electronic</li>
            <li>App Scope - Demo Preview
                <ul>
                  <li>Dashboard: Ilustrative purposive only. Real data not connected to the figures</li>
                  <li>Investigations Management System/Module: Fully functional system</li>
                </ul>
            </li>
            <li>Notes
              <ul>
                <li>Ensure to install python3 and all required modules listed in requirements.txt</li>
                <li>Multi personal system. Assigned tasks or activities are intead to be fulfilled by the Assigned to party. But for demonstrative perpose fullfil tasks yourself </li>
              </ul>
            </li>
          </ul>
        </div>
      </main>
      <footer>
        <ul>
          <li><p>All Rights Reserved</p><span></span></li>
          <li><p>Privacy Policy</p><span></span></li>
          <li><p>Terms of Service</p></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
